html,
body {
  height: 100%;
  width: 100%;
  font-family: "Montserrat", "Helvetica" !important;
}

.clickable {
  cursor: pointer;
}

.base-page {
  padding-top: 150px;
  color: #fff;
}

.absolute {
  position: absolute;
}

.self-typed {
  font-size: 31px;
  color: #fff;
  font-weight: bold;
  letter-spacing: 2px;
}

@import "./shared/fonts";

// Components
@import "./components/header";

// Pages
@import "./index";
